@model Book
    <!--Display Book info in a new row-->
    <tr>
        <td>@Model.BookTitle</td>
        <!--Display Author's first, middle, and last names in the same cell-->
        <td>@Model.BookAuthorFirstName @Model.BookAuthorMiddleName @Model.BookAuthorLastName</td>
        <td>@Model.BookPublisher</td>
        <td>@Model.BookISBN</td>
        <td>@Model.BookNumberOfPages</td>
        <td>@Model.BookClassification</td>
        <td>@Model.BookCategory</td>
        <td class="text-success">$@Model.BookPrice</td>
    </tr>
