@page

@model MyOnlineBooks.Pages.PurchaseModel

@{

}

<h2>Your Cart</h2>
<div class="container">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-left">@line.Book.BookTitle</td>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-right">$@line.Book.BookPrice</td>
                    <td class="text-right">@((line.Quantity * line.Book.BookPrice).ToString("c"))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="3">Total:</td>
                <td class="text-right">@Model.Cart.ComputeTotalSum().ToString("c")</tdtex>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>

    </div>
</div>